.root {
      -fx-background-color:black;
      -fx-background-image: url("../image/heelo3.jpg");
      -fx-background-repeat: no-repeat;
       -fx-background-position: center center;
        -fx-background-size: cover;


  }
  .title-label {
      -fx-font-size: 28px;
      -fx-font-weight: bold;
  }

  .hyperlink-button {
      -fx-background-color: transparent;
      -fx-text-fill: #0066cc;
      -fx-underline: true;
      -fx-cursor: hand;
      -fx-font-size: 40px;
      -fx-font-weight: bold;
      -fx-text-fill: green;
      -fx-alignment: top-right;
  }

  .hyperlink-button:hover {
      -fx-text-fill: white;

  }
.welcome-label {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;


    .usernameLabel {
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-text-fill: #2a75bb;
        -fx-font-family: 'Segoe UI', 'Arial', sans-serif;
        -fx-padding: 0 20 0 0;

        /* Drop shadow effect */
        -fx-effect: dropshadow(gaussian, lightgray, 4, 0.3, 1, 1);
    }

}


